
.Bbody .text {
  display: block;
  position: absolute;
  font-family: "Lilita One";
  text-align: center;
  top: 10vh;
  font-size: 30px;
  left: 11vw;
  color: #3c2918;
  background-color: #dbc6b6;
}

.BasicQuestions-List {
  top: 15vw;
  width: 100%;
  position: absolute;
  text-align: center;
  list-style-type: none;
  background-color: #dbc6b6;
  left: -1vw;
}

.BQH{
  display: block;
  position: absolute;
  top: 10vh;
  left: 38vw;
  color: #3c2918;
}

.BQB{
  position:absolute;
  top: 20vh;
  left: 20vw;
  text-align: center;
  font-size: 20px;
  font-family: "arial";
  font-weight: bold;

}

.Bbody {
  height: 100vh;
  width: 100vw;
  background-color: #dbc6b6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.QuestionContainer {
  text-align: center;
  font-size: 20px;
  font-family: "Lilita One";
}

.QuestionText {
  font-size: 20px;

}

.AnswerInput {
  width: 500px;
  height: 30px;
  margin-top: 10px;
  padding: 5px;
  background-color: #ebdccc;
  border: 1px solid #554333;
  border-radius: 8px;
  margin-top: 20px;
}

.ProgressBarContainer {
  width: 80%;
  height: 30px;
  background-color: #bea891;
  border: 1px solid #554333;
  border-radius: 8px;
  margin-top: 20px;
}

.ProgressBar {
  height: 100%;
  background-color: #3c2918;
}

.ButtonContainer {
  margin-top: 20px;
}

.BQ-PreviousButton,
.BQ-NextButton,
.BQ-SubmitButton {
  margin-right: 10px;
  background-color: #3c2918;
  color: #dbc6b6;
}

.BQ-SubmitButton:hover{
  background-color: #dbc6b6;
  color: #3c2918;

}

.BQ-NextButton:hover{
  background-color: #dbc6b6;
  color: #3c2918;

}

.BQ-PreviousButton:hover{
  background-color: #dbc6b6;
  color: #3c2918;

}
