.Bbody {
  height: 100vh;
  width: 100vw;
  /* background-image: url("BKGBase.png"); */
}

.Bbody .text {
  display: block;
  position: absolute;
  font-family: "Lilita One";
  text-align: center;
  top: 10vh;
  font-size: 30px;
  left: 11vw;
}

.Background{
  height: 125vh;
  background-image: url(MatchaBQ.jpg);
  filter: blur(5px);
  background-size: cover;
  z-index: 10;
}


.BasicQuestions-List {
  top: 15vw;
  width: 100%;
  position: absolute;
  text-align: center;
  list-style-type: none;
  background-color: #3c2918;
  left: -1vw;
}
.Ul-BQ{
  text-align: left;
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.BQH {
  position: absolute;
  top: 10vh;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 100vw;
  margin: auto;
  text-align: center;
  color: #3c2918;
  text-shadow:1px 1px 10px #fee4c3, 1px 1px 10px #fee4c3;
  /* background-color: red; */
}

.BQB {
  position: absolute;
  top: 18vh;
  left: 28vw;
  text-align: center;
}

.BQQuestionNum {
  position: relative;
  padding: 0px;
  margin-bottom: 0px;
  font-family: "Lilita One";
  font-size: 25px;
  color: #3c2918;
  top: 30vh;
  width: 100vw;
  text-align: center;
}

.BQQuestion {
  position: absolute;
  margin-top: 0vh;
  font-size: 25px;
  color: #3c2918;
  top: 37vh;
  left: auto;
  width: 100vw;
  margin: auto;
  text-align: center;
}

.NextButton {
  margin-top: 20vh;
  height: 8vh;
  bottom: 20px;
  width: 100px; 
  padding: 10px;
  background-color: #3c2918;
  color: #fee4c3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}
.NextButton:hover {
  background-color: #fee4c3;
  color: #3c2918;
}
.NextButton:visted {
  background-color: #fee4c3;
  color: #3c2918;
}
.NextButton:focus {
  background-color: #fee4c3;
  color: #3c2918;
}

.PrevButton {
  margin-top: 20vh;
  height: 8vh;
  bottom: 0px; /* Adjust the vertical position from the bottom */
  width: 100px; /* Adjust the width as needed */
  padding: 2px;
  background-color: #3c2918;
  color: #fee4c3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}
.PrevButton:hover {
  background-color: #fee4c3;
  color: #3c2918;
}
.PrevButton:visited {
  background-color: #fee4c3;
  color: #3c2918;
}
.PrevButton:focus {
  background-color: #fee4c3;
  color: #3c2918;
}

.PrevButton:disabled {
  background-color: #fee4c3;
  color: #3c2918;
}

.BasicSubmitButton {
  position: absolute;
  height: 55px;
  left: 55vw;
  top: 83.5vh;
  margin-top: 12vh; 
  bottom: 20px; /* Adjust the vertical position from the bottom */
  width: 30vh; /* Adjust the width as needed */
  padding: 10px;
  background-color: #3c2918;
  color: #fee4c3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.BasicSubmitButton:hover {
  background-color: #fee4c3;
  color: #3c2918;
}
.BasicSubmitButton:visted {
  background-color: #fee4c3;
  color: #3c2918;
}
.BasicSubmitButton:focus {
  background-color: #fee4c3;
  color: #3c2918;
}

.textboxclassBQ {
  position: absolute;
  margin-top: 10px;
  top: 41vh;
  height: 40px;
  width: 60vh;
  font-size: 20px;
  font-family: "Josefin Sans";
  left: 35vw;
  background-color: #3c2918;
  color: #fee4c3;
  text-align: center;
}

.ProgressBarBQ {
  position: absolute;
  border-radius: 1.5em;

  left: 5vw;
  top: 42vh;
  height: 6vh;
  width: 90vw;
  background-color: #3c2918;
}

.ActiveProgressBQ {
  position: absolute;
  align-self: center;
  border-radius: 1.5em;
  transition: width 0.3s ease-in-out; /* Adjust the duration and timing function as needed */
  left: 0.6vw;
  top: 1vh;
  height: 4vh;
  max-width: 98.5%;
  min-width: 0.5%;
  background-color: #fee4c3;
}

/*
//putting in styalizing things and will edit later
*/

.Bbody {
  height: 100vh;
  width: 100vw;
  background-color: #fee4c3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.QuestionHeader {
  position: absolute;
  border-radius: 1.5em;
  /* height: ; */
  top: 50vh;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 100vw;
  margin: auto;
  text-align: center;
  font-family: "Josefin Sans";
  color: #3c2918;
  text-shadow:1px 1px 10px #fee4c3, 1px 1px 10px #fee4c3;

}

.QuestionContainer {
  text-align: center;
  font-size: 20px;
  font-family: "Lilita One";
  position: absolute;
  top: 55vh; /* Adjust this value to move the container downward */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  width: 85%;
  background-color: #fff3e4;
  height: 50vh;
  border-radius: 1.5em;
  padding-top: 10px;
  color: #3c2918;
  /* margin: auto; */
}

.QuestionText {
  font-size: 20px;
}

.AnswerInput {
  width: 300px;
  height: 30px;
  margin-top: 10px;
  padding: 5px;
}

.QCount {
  position: absolute;
  top: -5vh;
  left: 42vw;
}

.BQH {
  position: absolute;
  border-radius: 1.5em;

  top: 15vh;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 100vw;
  margin: auto;
  text-align: center;
  font-family: "Lilita One";
  color: #3c2918;
}

.Description {
  position: absolute;
  border-radius: 1.5em;

  top: 23vh;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 100vw;
  margin: auto;
  text-align: center;
  font-family: "Lilita One";
  color: #000000;
  text-shadow:1px 1px 10px #fee4c3, 1px 1px 10px #fee4c3;

}

