.Bbody {
  height: 100vh;
  width: 100vw;
  background-color: #dbc6b6;
}

.Bbody .text {
  display: block;
  position: absolute;
  font-family: "Lilita One";
  text-align: center;
  top: 10vh;
  font-size: 30px;
  left: 11vw;
  color: #3c2918;
  background-color: #dbc6b6;
}

.BasicQuestions-List {
  top: 15vw;
  width: 100%;
  position: absolute;
  text-align: center;
  list-style-type: none;
  background-color: #dbc6b6;
  left: -1vw;
}

.BQH {
  display: block;
  position: absolute;
  top: 10vh;
  left: 38vw;
  color: #3c2918;
}

.BQB {
  position: absolute;
  top: 18vh;
  left: 28vw;
  text-align: center;
}

.BQ-SubmitButton {
  position: absolute;
  top: 103vh;
  left: 44vw;
  background-color: #3c2918;
  color: #dbc6b6;
}
.BQ-SubmitButton:hover {
  background-color: #dbc6b6;
  color: #3c2918;
}

.BQQuestionNum{
  position: relative;
  padding: 0px;
  margin-bottom: 0px;
  font-family: "Lilita One";
  font-size: 25px;
  color: #3c2918;
  top: 29vh;
  width: 100vw;
  text-align: center;
}

.BQQuestion{
  position: absolute;
  margin-top: 0vh;
  font-size: 25px;
  color: #3c2918;
  top: 37vh;
  left: auto;
  width: 100vw;
  margin: auto;
  text-align: center;
}

.NextButton {
  position: absolute;
  top: 50vh;
  background-color: #3c2918;
  color: #dbc6b6;
  left: 55vw;
}
.NextButton:hover {
  background-color: #dbc6b6;
  color: #3c2918;
}

.PrevButton {
  position: absolute;
  top: 50vh;
  background-color: #3c2918;
  color: #dbc6b6;
  right: 55vw;
}
.PrevButton:hover {
  background-color: #dbc6b6;
  color: #3c2918;
}

.textboxclassBQ{
  position: absolute;
  margin-top: 10px;
  top: 41vh;
  height: 40px;
  width: 60vh;
  font-size: 20px;
  font-family: "Josefin Sans";
  left: 36vw;
}

.ProgressBarBQ {
  position: absolute;
  border-radius: 1.5em;

  left: 5vw;
  top: 26vh;
  height: 6vh;
  width: 90vw;
  background-color: #3c2918;
}

.ActiveProgressBQ {
  position: absolute;
  align-self: center;
  border-radius: 1.5em;
  transition: width 0.3s ease-in-out; /* Adjust the duration and timing function as needed */
  left: 0.6vw;
  top: 1vh;
  height: 4vh;
  max-width: 98.5%;
  min-width: 0.5%;
  background-color: #dbc6b6;
}