.Dbody {
  height: 300vh;
  width: 100vw;
  background-color: #dbc6b6;
}

.Dbody .text {
  display: block;
  position: absolute;
  font-family: "Lilita One";
  text-align: center;
  top: 10vh;
  font-size: 30px;
  left: 11vw;
  color: #3c2918;
}

.DetailedQuestions-List {
  margin-top: 45vh;
  width: 100%;
  position: absolute;
}

.Det-Question {
  position: relative;
  padding: 20px;
  margin-bottom: 16px;
  font-family: "Lilita One";
  font-size: 25px;
  color: #3c2918;
  top: 15vh;
  left:5vw;
}

.det-body {
  margin-top: 8px;
  font-size: 25px;
  color: #3c2918;
  top: 25vh;
}

.Det-Question .options {
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
  font-family: "Josefin Sans";
}
.Question {
  padding: 25px;
  display: block;
  margin-bottom: 16px;
  font-family: "Lilita One";
  font-size: 30px;
  text-align: left;
}

.textboxclass {
  margin-top: 10px;
  height: 40px;
  width: 60vh;
  font-size: 20px;
  font-family: "Josefin Sans";
}

.DQH {
  position: absolute;
  top: 10vh;
  left: 39vw;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
