.Dbody {
  height: 100vh;
  width: 100vw;
  /* background-color: red; */

}

.background{
  height: 125vh;
  background-image: url("SageCoffee.png");
  filter:blur(5px);
}

.Dbody .text {
  display: block;
  position: absolute;
  font-family: "Lilita One";
  /* text-align: center; */
  top: 10vh;
  font-size: 30px;
  left: 11vw;
  color: #3c2918;
}

.Ul-DQ{
  text-align: left;
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.DetailedQuestions-List {
  margin-top: 45vh;
  width: 100%;
  position: absolute;
}

.Det-Question {
  position: relative;
  padding: 0px;
  margin-bottom: 0px;
  font-family: "Lilita One";
  font-size: 25px;
  color: #3c2918;
  top: 29vh;
  width: 100vw;
  text-align: center;
}

.det-body {
  position: absolute;
  margin-top: 0vh;
  font-size: 25px;
  color: #3c2918;
  top: 38vh;
  left: auto;
  width: 100vw;
  margin: auto;
  /* text-align: center; */
}

.textboxclassDQ {
  position: absolute;
  top: 43vh;
  height: 40px;
  width: 60vh;
  font-size: 20px;
  font-family: "Josefin Sans";
  left: 50vw;
  background-color: #3c2918;
  color: #fee4c3;
  /* text-align: center; */
}

.QuestionHeader {
  position: absolute;
  border-radius: 1.5em;

  top: 40vh;
  font-size: 25px;
  font-weight: 625;
  letter-spacing: 0.5px;
  width: 100vw;
  margin: auto;
  /* text-align: center; */
  font-family: "Josefin Sans";
  color: #3c2918;

}

/*setting buttons for each quiz page*/
.detNextButton {
  position: absolute;
  top: 85vh;
  left: 55vw;
  margin-top: 20vh;
  height: 8vh;
  bottom: 20px;
  width: 100px; 
  padding: 10px;
  background-color: #3c2918;
  color: #fee4c3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}
.detNextButton:hover {
  background-color: #fee4c3;
  color: #3c2918;
}
.detNextButton:visted {
  background-color: #fee4c3;
  color: #3c2918;
}
.detNextButton:focus {
  background-color: #fee4c3;
  color: #3c2918;
}

.detSubmitButton {
  position: absolute;
  top: 85vh;
  left: 52vw;
  margin-top: 20vh;
  height: 8vh;
  bottom: 20px;
  width: fit-content; 
  padding: 10px;
  background-color: #3c2918;
  color: #fee4c3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}
.detSubmitButton:hover {
  background-color: #fee4c3;
  color: #3c2918;
}
.detSubmitButton:visted {
  background-color: #fee4c3;
  color: #3c2918;
}
.detSubmitButton:focus {
  background-color: #fee4c3;
  color: #3c2918;
}

.detPrevButton {
  position: absolute;
  top: 85vh;
  left: 40vw;
  margin-top: 20vh;
  height: 8vh;
  bottom: 0px; /* Adjust the vertical position from the bottom */
  width: 100px; /* Adjust the width as needed */
  padding: 2px;
  background-color: #3c2918;
  color: #fee4c3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}
.detPrevButton:hover {
  background-color: #fee4c3;
  color: #3c2918;
}
.detPrevButton:visited {
  background-color: #fee4c3;
  color: #3c2918;
}
.detPrevButton:focus {
  background-color: #fee4c3;
  color: #3c2918;
}

.detPrevButton:disabled {
  background-color: #fee4c3;
  color: #3c2918;
}

.detailedQuestionContainer {
  text-align: center;
  font-size: 20px;
  font-family: "Lilita One";
  position: absolute;
  top: 55vh; /* Adjust this value to move the container downward */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  width: 85%;
  background-color: #fff3e4;
  height: 60vh;
  border-radius: 1.5em;
  padding-top: 10px;
  color: #3c2918;
  /* margin: auto; */
}

.DQH {

  position: absolute;
  border-radius: 1.5em;

  top: 15vh;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 100vw;
  margin: auto;
   text-align: center; /*Dont Touch */
  font-family: "Lilita One";
  color: #3c2918;
  text-shadow:1px 1px 10px #fee4c3, 1px 1px 10px #fee4c3;

}


.DQB {
  position: absolute;
  top: 18vh;
  left: 28vw;
  /* text-align: center; */
}

.options {
  position: absolute;
  top: 43vh;
  width: 100vw;
  /* text-align: center; */
  font-size: 20px;
}

.detailSubmitButton {
  position: absolute;
  height: 53px;
  left: 55vw;
  top: 83vh;
  margin-top: 12vh; 
  bottom: 20px; /* Adjust the vertical position from the bottom */
  width: 30vh; /* Adjust the width as needed */
  padding: 10px;
  background-color: #3c2918;
  color: #fee4c3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.detailSubmitButton:hover {
  background-color: #fee4c3;
  color: #3c2918;
}
.detailSubmitButton:visted {
  background-color: #fee4c3;
  color: #3c2918;
}
.detailSubmitButton:focus {
  background-color: #fee4c3;
  color: #3c2918;
}

.ProgressBar {
  position: absolute;
  border-radius: 1.5em;

  left: 5vw;
  top: 22vh;
  height: 6vh;
  width: 90vw;
  background-color: #3c2918;
}

.ActiveProgress {
  position: absolute;
  align-self: center;
  border-radius: 1.5em;
  transition: width 0.3s ease-in-out; /* Adjust the duration and timing function as needed */
  left: 0.6vw;
  top: 1vh;
  height: 4vh;
  max-width: 98.5%;
  min-width: 0.5%;
  background-color: #dbc6b6;
}

label {
  margin-left: 10px;
}

/*setting css for the submitted answers*/
.resultsContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resultBackgroundDetailed{
  height: 220vh;
  background-image: url(MatchaBQ.jpg);
  filter: blur(5px);
  background-size: cover;
  z-index: 10;
}

.resultsHeaderDetailed{
  font-size: 50px;
  font-family: "Lilita One";
  font-weight: bold;
  position: absolute;
  top: 13vh;
  text-align: center;
  left: 68vh;
  text-shadow:1px 1px 10px #fee4c3, 1px 1px 10px #fee4c3;
}

.resultsPageDetailed{
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resultformatDetailed{
  z-index: 1;
  background-color: #c3c795;
  border-radius: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #50542a;
  text-shadow: 1px 1px 10px #ffffff, 1px 1px 10px #d3d4c9;
  margin-bottom: 10px;
  width: 100%;
  max-width: 600px; /* Optional: to limit the width of the result boxes */
}

.resultSubmitButtonDetailed {
  position: absolute;
  height: 55px;
  left: 55vw;
  top: 190vh;
  margin-top: 12vh; 
  bottom: 20px; /* Adjust the vertical position from the bottom */
  width: 30vh; /* Adjust the width as needed */
  padding: 10px;
  background-color: #3c2918;
  color: #fee4c3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resultSubmitButtonDetailed:hover {
  background-color: #fee4c3;
  color: #3c2918;
}
.resultSubmitButtonDetailed:visted {
  background-color: #fee4c3;
  color: #3c2918;
}
.resultSubmitButtonDetailed:focus {
  background-color: #fee4c3;
  color: #3c2918;
}

.returnButtonDetailed {
  position: absolute;
  height: 55px;
  left: 30vw;
  top: 190vh;
  margin-top: 12vh; 
  bottom: 20px; /* Adjust the vertical position from the bottom */
  width: 30vh; /* Adjust the width as needed */
  padding: 10px;
  background-color: #3c2918;
  color: #fee4c3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.returnButtonDetailed:hover {
  background-color: #fee4c3;
  color: #3c2918;
}
.returnButtonDetailed:visted {
  background-color: #fee4c3;
  color: #3c2918;
}
.returnButtonDetailed:focus {
  background-color: #fee4c3;
  color: #3c2918;
}


