.Dbody {
  height: 100vh;
  width: 100vw;
  /* background-color: red; */

}

.background{
  height: 125vh;
  background-image: url("SageCoffee.png");
  filter:blur(5px);
}

.Dbody .text {
  display: block;
  position: absolute;
  font-family: "Lilita One";
  /* text-align: center; */
  top: 10vh;
  font-size: 30px;
  left: 11vw;
  color: #3c2918;
}

.Ul-DQ{
  text-align: left;
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.DetailedQuestions-List {
  margin-top: 45vh;
  width: 100%;
  position: absolute;
}

.Det-Question {
  position: relative;
  padding: 0px;
  margin-bottom: 0px;
  font-family: "Lilita One";
  font-size: 25px;
  color: #3c2918;
  top: 29vh;
  width: 100vw;
  text-align: center;
}

.det-body {
  position: absolute;
  margin-top: 0vh;
  font-size: 25px;
  color: #3c2918;
  top: 38vh;
  left: auto;
  width: 100vw;
  margin: auto;
  /* text-align: center; */
}

.textboxclassDQ {
  position: absolute;
  top: 43vh;
  height: 40px;
  width: 60vh;
  font-size: 20px;
  font-family: "Josefin Sans";
  left: 50vw;
  background-color: #3c2918;
  color: #fee4c3;
  /* text-align: center; */
}

.QuestionHeader {
  position: absolute;
  border-radius: 1.5em;

  top: 40vh;
  font-size: 25px;
  font-weight: 625;
  letter-spacing: 0.5px;
  width: 100vw;
  margin: auto;
  /* text-align: center; */
  font-family: "Josefin Sans";
  color: #3c2918;

}

.DQH {

  position: absolute;
  border-radius: 1.5em;

  top: 15vh;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 100vw;
  margin: auto;
   text-align: center; /*Dont Touch */
  font-family: "Lilita One";
  color: #3c2918;
  text-shadow:1px 1px 10px #fee4c3, 1px 1px 10px #fee4c3;

}


.DQB {
  position: absolute;
  top: 18vh;
  left: 28vw;
  /* text-align: center; */
}

.NextButton {
  position: absolute;
  top: 75vh;
  background-color: #3c2918;
  color: #fee4c3;
  left: 55vw;
  transition: all 0.3s ease; 

}
.NextButton:hover {
  background-color: #fee4c3;
  color: #3c2918;
  transform: scale(1.1);
}

.PrevButton {
  position: absolute;
  top: 75vh;
  background-color: #3c2918;
  color: #fee4c3;
  right: 55vw;
  transition: all 0.3s ease; 
}
.PrevButton:hover {
  background-color: #fee4c3;
  color: #3c2918;
  transform: scale(1.1);
}

.options {
  position: absolute;
  top: 43vh;
  width: 100vw;
  /* text-align: center; */
  font-size: 20px;
}

.Submit-Button {
  position: absolute;
  top: 95vh;
  width: auto; /* Adjust the width as needed */
  height: 61px;
  background-color: #3c2918;
  color: #fee4c3;
  left: 55vw;
  transition: all 0.3s ease; 
}
.Submit-Button:hover {
  background-color: #fee4c3;
  color: #3c2918;
  transform: scale(1.1);
}

.ProgressBar {
  position: absolute;
  border-radius: 1.5em;

  left: 5vw;
  top: 26vh;
  height: 6vh;
  width: 90vw;
  background-color: #3c2918;
}

.ActiveProgress {
  position: absolute;
  align-self: center;
  border-radius: 1.5em;
  transition: width 0.3s ease-in-out; /* Adjust the duration and timing function as needed */
  left: 0.6vw;
  top: 1vh;
  height: 4vh;
  max-width: 98.5%;
  min-width: 0.5%;
  background-color: #dbc6b6;
}

label {
  margin-left: 10px;
}

