.Dbody {
  height: 100vh;
  width: 100vw;
  background-color: #dbc6b6;
  /* background-image: url("BKGBase.png"); */
}

.Dbody .text {
  display: block;
  position: absolute;
  font-family: "Lilita One";
  text-align: center;
  top: 10vh;
  font-size: 30px;
  left: 11vw;
  color: #3c2918;
}

.DetailedQuestions-List {
  margin-top: 45vh;
  width: 100%;
  position: absolute;
}

.Det-Question {
  position: relative;
  padding: 0px;
  margin-bottom: 0px;
  font-family: "Lilita One";
  font-size: 25px;
  color: #3c2918;
  top: 15vh;
  width: 100vw;
  text-align: center;
}

.det-body {
  position: absolute;
  margin-top: 0vh;
  font-size: 25px;
  color: #3c2918;
  top: 9vh;
  left: auto;
  width: 100vw;
  top: 30vh;
  margin: auto;
  text-align: center;
}

.textboxclassDQ {
  position: absolute;
  margin-top: 10px;
  top: 38vh;
  height: 40px;
  width: 60vh;
  font-size: 20px;
  font-family: "Josefin Sans";
  left: 36vw;
  background-color: #3c2918;
  color: #dbc6b6;
  text-align: center;
}

.DQH {
  position: absolute;
  top: 10vh;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 100vw;
  margin: auto;
  text-align: center;
  color: #3c2918;
}

.NextButton {
  position: absolute;
  top: 50vh;
  background-color: #3c2918;
  color: #dbc6b6;
  left: 55vw;
}
.NextButton:hover {
  background-color: #dbc6b6;
  color: #3c2918;
}

.PrevButton {
  position: absolute;
  top: 50vh;
  background-color: #3c2918;
  color: #dbc6b6;
  right: 55vw;
}
.PrevButton:hover {
  background-color: #dbc6b6;
  color: #3c2918;
}

.options {
  position: absolute;
  top: 40vh;
  width: 100vw;
  text-align: center;
  font-size: 20px;
}

.Submit-Button {
  position: absolute;
  top: 50vh;
  background-color: #3c2918;
  color: #dbc6b6;
  left: 48vw;
}
.Submit-Button:hover {
  background-color: #dbc6b6;
  color: #3c2918;
}

.ProgressBar {
  position: absolute;
  border-radius: 1.5em;

  left: 5vw;
  top: 17vh;
  height: 6vh;
  width: 90vw;
  background-color: #3c2918;
}

.ActiveProgress {
  position: absolute;
  align-self: center;
  border-radius: 1.5em;
  transition: width 0.3s ease-in-out; /* Adjust the duration and timing function as needed */
  left: 0.6vw;
  top: 1vh;
  height: 4vh;
  max-width: 98.5%;
  min-width: 0.5%;
  background-color: #dbc6b6;
}
