html {
  height: 100vh;
  overflow: hidden;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: red;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}
.section1,
.section2 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}
.section1::before {
  content:"";
  width:100%;
  height: 100%;
  position: absolute;
  background: url("BKGBase.png") top center;
  background-size: cover;
  transform: translateZ(-1px) scale(2.2);
  filter: blur(2px);
}
.section1::after {
  content:"";
  width:100%;
  height: 100%;
  position: absolute;
  background: url("BKGTop.png") top center;
  background-size: cover;
}
.section1 .text {
  top:10%;
  transform: translateZ(-0.5px) scale(1.5,1.6) translate(-33%,10%);
}



.text {
  top: 30%;
  left: 50%;
  position: absolute;
  font-size: 15vw;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    5px 5px 70px rgba(255, 255, 255, 0.5);
  transform: scale(1, 1.1) translate(-50%, 10%);
}



/* .Hbody {
  height: 187vh;
  width: 100vw;
  background-color: transparent;
}

.Hbody .text {
  display: block;
  position: absolute;
  font-family: "Lilita One";
  text-align: center;
  top: 99vh;
  font-size: 30px;
  left: 14vw;
  color: #3c2918;
  background-color: #dbc6b6;
  width: 70.9vw;
  border-radius: 80px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 15px;
  padding: 5px 15px;
}

.BQDiscriptions {
  display: block;
  position: absolute;
  width: 70vh;
  height: fit-content;
  top: 115vh;
  left: 14vw;
  text-align: center;
  background-color: #dbc6b6;
  border: 5px solid transparent;
  border-radius: 8px;
  padding: 5px 15px;
  color: #3c2918;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.BQDiscriptionBox {
  text-align: left;
}

.DQDiscriptions {
  display: block;
  position: absolute;
  width: 70vh;
  height: fit-content;
  top: 115vh;
  right: 14vw;
  text-align: center;
  background-color: #dbc6b6;
  border: 5px solid transparent;
  border-radius: 8px;
  padding: 5px 15px;
  color: #3c2918;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.BQButton {
  display: block;
  position: absolute;
  top: 178vh;
  left: 25.5vw;
  background-color: #dbc6b6;
  color: #3c2918;
  border: 1px transparent;
}
.BQButton:hover {
  background-color: #3c2918;
  color: #dbc6b6;
}

.DQButton {
  display: block;
  position: absolute;
  top: 178vh;
  right: 25.5vw;
  background-color: #dbc6b6;
  color: #3c2918;
  border: 1px transparent;
}
.DQButton:hover {
  background-color: #3c2918;
  color: #dbc6b6;
} 
*/
