body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-x: hidden;
}

.Hbody {
  height: 187vh;
  width: 100vw;
  background-image: url("BKGBase.png");
}

.Hbody .text {
  display: block;
  position: absolute;
  font-family: "Lilita One";
  text-align: center;
  top: 99vh;
  font-size: 30px;
  left: 14vw;
  color: #3c2918;
  background-color: #dbc6b6;
  width: 70.9vw;
  border-radius: 80px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 15px;
  padding: 5px 15px;
}

.BQDiscriptions {
  display: block;
  position: absolute;
  width: 70vh;
  height: fit-content;
  top: 115vh;
  left: 14vw;
  text-align: center;
  background-color: #dbc6b6;
  border: 5px solid transparent;
  border-radius: 8px;
  padding: 5px 15px;
  color: #3c2918;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.BQDiscriptionBox {
  text-align: left;
}

.DQDiscriptions {
  display: block;
  position: absolute;
  width: 70vh;
  height: fit-content;
  top: 115vh;
  right: 14vw;
  text-align: center;
  background-color: #dbc6b6;
  border: 5px solid transparent;
  border-radius: 8px;
  padding: 5px 15px;
  color: #3c2918;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/* Home Page Buttons */
.BQButton {
  display: block;
  position: absolute;
  top: 178vh;
  left: 25.5vw;
  background-color: #dbc6b6;
  color: #3c2918;
  border: 1px transparent;
}
.BQButton:hover {
  background-color: #3c2918;
  color: #dbc6b6;
}

.DQButton {
  display: block;
  position: absolute;
  top: 178vh;
  right: 25.5vw;
  background-color: #dbc6b6;
  color: #3c2918;
  border: 1px transparent;
}
.DQButton:hover {
  background-color: #3c2918;
  color: #dbc6b6;
}
