
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


/*
Color pallete
#cbb19b
#bd977c
#9b7960
#66452a
#dfe0e0
https://www.color-hex.com/color-palette/106259
*/
html{
  height: 100vh;
  overflow: hidden;
  /* scroll-snap-type: y proximity; */
}


body{
  width: auto;
  height: 100vh;
  margin: 0;
  background-color: transparent;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}

.section1, .section2 {
  width: auto;
  min-height: 100vh;
  position: relative;
  margin: 0;
  transform-style: preserve-3d;
  /* scroll-snap-align: top; */
}
.section2{
  background: linear-gradient(to bottom, #000000, #3c2918);
  height: 300vh;
}

.section3{
  background: #fbede1;
  height: 300vh;
}
.section1::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(CoffeeShopBKG.jpg) top center;
  background-size: cover;
  transform: translateZ(-1px) scale(2.2);
  filter: blur(2px);
}

.section1::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(Table.png) top center;
  background-size: cover;
}

.SignInButton{
  display: grid;
  position: fixed;
  justify-self: right;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;

  background-color: #3c2918;
  color: #dbc6b6;
  font-size: 12px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.text{
  display: grid;
  display: flex;
  position: absolute;
  font-family: "Lilita One";
  transform: scale(1,1.1) translate(-50%, 10%);
}

.section1 .text{
top: 65%;
font-size: 10vw;
font-size: calc(200px + 2vmin);
transform: translateZ(-1px) scale( 1.5, 1.6) translate(-30%, 30%);
margin-left: 200px;
text-align: center;
align-items: center;
text-shadow: 2px 2px 5px black, 5px 5px 20px rgb(134, 130, 130);
color: #fbede1;

}  

.section2 .text{
  top: 30vh;
  left: 50%;
  color: white;
  font-size: 30px;
  text-align: center;
  }  

.APIform{
  display: grid;
  color: #dbc6b6;
  font-size: 13px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
}

.APIform input{
background-color: #3c2918;
border: none;
padding: 10px 15px;
font-size: 13px;
border-radius: 8px;
width: 100%;
outline: none;
position: relative;
left: auto;
width: fit-content;
margin-left: 5px;
}

.Submit-Button{
  position: relative;
  left: auto;

  background-color: #3c2918;
  color: #dbc6b6;
  font-size: 12px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 5px;
}

.APIform input::placeholder{
color:#dbc6b6
}

.BasicQ{
  display: grid;
  display: flex;
  position: relative;
  left:40vw;
  top: 80vh;
  margin-right: 5px;

  width: 120px;
  background-color: #3c2918;
  color: #dbc6b6;
  font-size: 12px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.AdvancedQ{
  display: grid;
  display: flex;
  position: fixed;
  left:50vw;
  top: 80vh;
  margin-left: 5px;

  width: 120px;
  background-color: #3c2918;
  color: #dbc6b6;
  font-size: 12px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}
.allTabs{
  display: flex;
  position: center-fixed;
  justify-self: right;
  right: -10;
  margin-right: 10px;
  margin-top: 10px;

  background-color: #3c2918;
  color: #dbc6b6;
  font-size: 12px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.detailedQuestions{
  display: grid;
  display: flex;
  position: fixed;
  left:50vw;
  top:80vh;
  margin-left: 5px;

  font-size: 10vw;
  color: #fbede1;}

.section3 .text {
  top: 420vh;
  left: 50vw;
  color: #3c2918;
  font-size: 50px;
  text-align: center;
}