@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/*
Color pallete
#cbb19b
#bd977c
#9b7960
#66452a
#dfe0e0
https://www.color-hex.com/color-palette/106259
*/

.TB-ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #3c2918;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.TB-li {
  float: right;
  display: block;
  color: #dbc6b6;
  text-align: center;
  text-decoration: none;
  padding: 19px 10px;
  font-size: 12px;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.TB-li:hover {
  background-color: #dbc6b6;
  color: #3c2918;
}

.Taskbar {
  margin: auto;
  color: #dbc6b6;
}

.APIform {
  float: left;
  color: #dbc6b6;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  padding: 10px 5px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 25px;
}

.APIform input {
  max-height: 33px;
  color: #dbc6b6;
  background-color: #3c2918;
  border: none;
}
.APIform input::placeholder {
  color: #dbc6b6;
}
.APIform input:focus {
  background-color: #dbc6b6;
  color: #3c2918;
}
.APIform:hover {
  background-color: #3c2918;
}
.SubmitButton {
  color: #dbc6b6;
  text-align: center;
  text-decoration: none;
  padding: 19px 10px;
  font-size: 12px;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  float: left;
}
.SubmitButton:hover {
  background-color: #dbc6b6;
  color: #3c2918;
}

.TaskbarHeader {
  color: #dbc6b6;
  position: absolute;
  left: 42vw;
  font-size: 35px;
  margin: 0px;
  top: 0px;
  padding-top: 0vh;
}
.TaskbarHeader:hover {
  background-color: transparent;
  color: #dbc6b6;
  cursor: default;
}