

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


/*
Color pallete
#cbb19b
#bd977c
#9b7960
#66452a
#dfe0e0
https://www.color-hex.com/color-palette/106259
*/
html{
  height: 100vh;
  overflow: hidden;
  /* scroll-snap-type: y proximity; */
}

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: transparent;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}

.section1,
.section2,
.section3 {
  width: 100vw;
  min-height: 100vh; /* Adjust as needed */
  position: relative;
  overflow: hidden; /* Ensure overflow is set to hidden */
  margin: 0;
}

.section1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(DCoffeeShop.jpeg) top center;
  background-size: cover;
  transform: translateZ(-1px) scale(1);
  filter: blur(2px);
}

.section1::after {
  content: "";
  position: absolute;
  /* position: sticky; */
  width: 100%;
  height: 100%;
  background: url(Table.png) top center;
  background-size: cover;
}

.section2, .section3{
  background: linear-gradient(to bottom, #000000, #3c2918);
  height: 200vh;
}


/* Add parallax effect
.section1::before,
.section1::after,
.section2,
.section3,
.text{
  background-attachment: fixed;
} */

.text{
  display: grid;
  display: flex;
  position: absolute;
  font-family: "Lilita One";
  transform: scale(1,1.1) translate(-50%, 10%);
}

.section1 .text {
  top: 30vh;
  font-size: 8vw;
  font-size: 100px;
  transform: translateZ(-1px) scale( 1.5, 1.6) translate(-30%, 30%);
  margin-left: 47vw;
  /* text-align: center; */
  /* align-items: center; */
  text-shadow: 2px 2px 5px black, 5px 5px 20px rgb(134, 130, 130);
  color: #fbede1;
}

.section2 .text{
  top: 30vh;
  left: 47vw;
  color: white;
  font-size: 30px;
  text-align: center;
  }  

.APIform{
  display: grid;
  color: #dbc6b6;
  font-size: 13px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
}

.APIform input{
top: -1px;
max-height: 33px;
color: #dbc6b6;

background-color: #3c2918;
border: none;
padding: 10px 15px;
font-size: 13px;
border-radius: 8px;
width: 100%;
outline: none;
position: relative;
left: auto;
width: fit-content;
margin-left: 5px;
}

.Submit-Button{
  position: relative;
  left: auto;
  max-height: 33px;
  top: -1px;


  background-color: #3c2918;
  color: #dbc6b6;
  font-size: 12px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 5px;
}

.APIform input::placeholder{
color:#dbc6b6
}

.SignInButton{
  display: grid;
  position: fixed;
  justify-self: right;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;

  background-color: #3c2918;
  color: #dbc6b6;
  font-size: 12px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.TaskBar {
  display: grid;
  position: fixed;
  right: 0vw;
  top: 0px;

  background-color: #3c2918;
  width: 100vw;
  height: 53px;
  border: 1px solid transparent;

}

.section1 .TBBasicQ{
  display: grid;
  position: fixed;
  right: 10vw;
  top: 10px;

  background-color: #3c2918;
  color: #dbc6b6;
  font-size: 12px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.section1 .TBDetailedQ{
  display: grid;
  position: fixed;
  right: 20vw;
  top: 10px;

  background-color: #3c2918;
  color: #dbc6b6;
  font-size: 12px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.section1 .TBHomeP{
  display: grid;
  position: fixed;
  right: 32vw;
  top: 10px;

  background-color: #3c2918;
  color: #dbc6b6;
  font-size: 12px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}


.BasicQ{
  /* Button */
  /* display: grid; */
  display: flex;
  position: relative;
  left:35vw;
  top: 80vh;
  margin-right: 5px;

  width: 120px;
  background-color: #3c2918;
  color: #dbc6b6;
  font-size: 12px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.DetailedQ{
  /* Button */
  display: grid;
  display: flex;
  position: fixed;
  left:50vw;
  top: 180vh;
  margin-left: 5px;

  width: 120px;
  background-color: #3c2918;
  color: #dbc6b6;
  font-size: 12px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.BQH{
  display: grid;
  display: flex;
  position: absolute;
  font-family: "Lilita One";
  top: 10vh;
  left: 32vw;
  color: white;
  font-size: 60px;
  text-align: center;
}

.BQB{
  display: grid;
  display: flex;
  position: absolute;
  font-family: "Lilita One";
  top: 20vh;
  left: 10vw;
  color: #dbc6b6;
  font-size: 30px;
  text-align: center;
  width: 100vw;
}

.DQH{
  display: grid;
  display: flex;
  position: absolute;
  font-family: "Lilita One";
  top: 10vh;
  left: 29vw;
  color: white;
  font-size: 60px;
  text-align: center;
}

.DQB{
  display: grid;
  display: flex;
  position: absolute;
  font-family: "Lilita One";
  top: 20vh;
  left: 10vw;
  color: #dbc6b6;
  font-size: 30px;
  text-align: center;
  width: 100vw;
}

.s3HomeP{
  /* Button */
  display: grid;
  display: flex;
  position: fixed;
  left:35vw;
  top: 90vh;
  margin-left: 0px;

  width: 120px;
  background-color: #dbc6b6;
  color: #3c2918;
  font-size: 12px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.s3BasicQ{
  /* Button */
  display: grid;
  display: flex;
  position: fixed;
  left:50vw;
  top: 90vh;
  margin-left: 0px;

  width: 120px;
  background-color: #dbc6b6;
  color: #3c2918;
  font-size: 12px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;

}

.s3DetailedQ{
  /* Button */
  display: grid;
  display: flex;
  position: fixed;
  left:50vw;
  top: 90vh;
  margin-left: 0px;

  width: 120px;
  background-color: #dbc6b6;
  color: #3c2918;
  font-size: 12px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.BasicQuestions-List{
  /* padding: 16px; */
  margin-top: 45vh; 
  left: 10vw;
  position: absolute;
}

.Question{
  padding: 25px;
  display: block;
  /* display: flex; */
  margin-bottom: 16px;
  /* position: absolute; */
  font-family: "Lilita One";
  /* top: 40vh; */
  color: white;
  font-size: 25px;
  text-align: left;
}
